@import '../../index.scss';

.container {
  width: 100%;
  height:fit-content;
  overflow-x:hidden;
  background-color: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
}

.wp_nabvarFull {
  position: relative;
  .wp_nabvar {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to bottom, $color-white, rgba(255, 255, 255, 0.67));
    z-index: 5;
    overflow-x: hidden;
    nav {
      height: fit-content;
      padding: 10px 22px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .wp_logo {
        width: 7rem;
        img {
          width: 100%;
          z-index: 0;
        }
      }
      .menu_show {
        display: none;
      }
      li {
        list-style: none;
        .menu_bars {
          width: 1.6rem;
          border: none;
          background: transparent;
          transition: all ease-in;
          span {
            width: inherit;
            height: .2rem;
            margin: .4rem 0;
            display:block;
            background-color: #b98b3c;
            border-radius: 1rem;
            transition: .5s;
            &:nth-last-child(2) {
              width: calc(100% - 5px);
              margin-left: auto;
            }
          }
        }
        .active {
          position: relative;
          span {
            transition: .3s;
            &:nth-last-child(1) {
              position: absolute;
              top: 0;
              transform: rotate(-45deg);
            }
            &:nth-last-child(3) {
              transform: rotate(45deg);
              width: inherit;
            }
            &:nth-last-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
  .wp_fresasAbsolute {
    #fresa2 {
      position: absolute;
      top: -.2rem;
      right: -8rem;
      width: 20rem;
      transform:rotate(15deg);
      filter: blur(10px);
    }
    #fresa5 {
      position: absolute;
      top: 5rem;
      left: -6.5rem;
      width: 15rem;
      transform:rotate(-50deg)
    }
    #fresa3 {
      display: none;
    }
  }
  .wp_menuMobile.display-block {
    display: block;
  }
  .wp_menuMobile.display-none {
    display: none;
  }
  .wp_menuMobile {
    width: 100%;
    position: fixed;
    top: 4.4rem;
    z-index: 10;
    .wp_whidthMenu {
      width: 100%;
      height: calc(100vh - 4.4rem);
      border-top: 1px solid $color-btnBorderOpacity;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.95));
      position: absolute;
      top: 0rem;
      right: 0;
      ul {
        padding: 4rem 2rem;
        li, a {
          list-style: none;
          text-decoration: none;
          color: $color-primary;
        }
        li {
          padding: 2rem 0;
        }
        a:hover {
          border-bottom: 3px solid $color-primary;
        }
      }
    }
  }
}

.wp_banner {
  width: 100%;
  margin-top: 4.5rem;
  height: fit-content;
  
  .wp_grid {
    padding: 0 1rem;
    display: grid;
    grid-template: 
    "wp-img" 17rem
    "wp-btns" 
    "wp-text" 
    "wp-imgs"
    "wp-btnS"  / 1fr
    ;
    position: relative;
    z-index: 1;
    .wp_imgProducto {
      grid-area: wp-img;
      width: 55%;
      margin: 1.4rem auto;
      img {
        position: relative;
        left: .5rem;
        width: 100%;
      }
    }
    .wp_btnSabores {
      grid-area: wp-btns;
      z-index: 3;
      margin-bottom: 1rem;
      .btn_sabor {
        padding: .1rem 0;
        border-radius: 5rem;
        margin-left: .6rem;
        border: 1px solid $color-btnBorderOpacity;
        width: 4.4rem;
        background-color: transparent;
        &:nth-last-child(3) {
          margin-left: .3rem !important;
        }
      }
      .active {
        background-color: $color-btnOpacity;
        border: none;
        padding: .15rem 0;
      }
    }
    .wp_textInfo {
      grid-area: wp-text;
      .p_infoLg {
        margin: .5rem 0;
      }
      .btn_buy {
        width: 100%;
        background-color: $color-primary;
        border-radius: 0;
        border: none;
        margin: .5rem 0;
        padding: 1rem 2rem;
      }
    }
    .wp_imgsAvalado {
      grid-area: wp-imgs;
      width: 70%;
      margin: 1.5rem auto;
      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 5rem;
          &:first-child {
            width: 4rem;
          }
        }
      }
    }
    .wp_btnScroll {
      grid-area: wp-btnS;
      text-align: center;
      margin: auto;
      .btn_scroll {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        background-color: $color-primary;
        border: none;
      }
    }
    .wp_fresas {
      display: none;
    }
  }
  
  #shapeBg {
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 122vh;
    transform: skewY(10deg);
    z-index: -1;
    background-image: linear-gradient(to bottom, $color-gradientOne, $color-gradientTwo);
  }
}

.wp_infoNutri {
  margin-top: 5rem;
  margin-bottom: .5rem;
  height: fit-content;
  position: relative;
  .wp_grid {
    padding: 0 1rem;
    display: grid;
    grid-template: 
    "wp-img"
    "wp-text" 
    "wp-table"  / 1fr
    ;
    .wp_title {
      grid-area: wp-img;
    }
    .wp_textInfo {
      margin: 1.5rem 0;
      grid-area: wp-text;
      div {
        margin-bottom: 1.5rem;
      }
      .reset_span {
        font-weight: normal;
        span {
          font-weight: 600;
          display: block;
        }
      }
    }
    .wp_tabla {
      grid-area: wp-table;
      color: $color-primary;
      margin: 1.5rem 0;
      table {
        .wp_trTabla {
          height: 2rem;
          .aling_l {
            width: 80%;
            text-align: right;
            padding: 0 .5rem ;
          }
          .aling_r {
            width: 20%;
            padding: 0 .5rem;
          }
        }
        tr, td {
          border: hidden;
        }
        tr {
          &:nth-child(2n+1) {
            background-color: #FAFAFA;
          }
          &:nth-child(2n) {
            background-color:#f8f8f8;
          }
        }
      }
    }
  }
  .wp_fresasAbsolute {
    #fresa6 {
      position: absolute;
      top: 1rem;
      right: -.8rem;
      width: 25%;
      filter: blur(1.5px);
    }
    #fresa7 {
      position: absolute;
      top: calc(50% - 5.5rem);
      left: -1.5rem;
      width: 24%;
    }
    #fresa4 {
      display: none;
    }
    #fresa5 {
      display: none;
    }
  }
}

.wp_productos {
  height: fit-content;
  background-image: url('../images/bg-familia-vitalinea.png');
  background-size: cover;
  .wp_content {
    background-repeat: no-repeat;
    padding: 3rem 0 5rem;
    .wp_title {
      text-align:center;
    }
    .wp_contentProductos {
      width: 100%;
      margin-top: 5rem;
      display: flex;
      align-items: flex-end;
      overflow-x: scroll;
      .producto {
        img {
          width: 6.5rem;
          margin-right: .5rem;
        }
        &:nth-child(1) {
          img {
            width: 9.8rem;
          }
        }
        &:last-child {
          img {
            width: 8.5rem;
          }
        }
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
    .wp_fresasAbsolute {
      display: none;
    }
  }
}

.wp_footer {
  padding: 2rem .8rem ;
  display: grid;
  align-items: center;
  grid-template: 
    "wp-img1 wp-img2" 
    "wp-text wp-text"
  ;
  .wp_img1 {
    grid-area: wp-img1;
    img {
      width: 3rem;
    }
  }
  .wp_img2 {
    grid-area: wp-img2;
    margin-left: auto;
    img {
      width: 3.5rem;
    }
  }
  .wp_infoFooter {
    grid-area: wp-text;
    padding-top: .8rem;
  }
}

@media only screen and (min-width: 375px) {
  
  .wp_nabvarFull {
    .wp_fresasAbsolute {
      #fresa2 {
        position: absolute;
        top: -.2rem;
        right: -8rem;
        width: 20rem;
        transform:rotate(15deg);
        filter: blur(10px);
      }
      #fresa5 {
        position: absolute;
        top: 5rem;
        left: -6.5rem;
        width: 15rem;
        transform:rotate(-50deg)
      }
    }
  }

  .wp_banner {
    .wp_grid {
      padding: 0 1.5rem;
      grid-template: 
      "wp-img" 18rem
      "wp-btns" 
      "wp-text" 
      "wp-imgs"
      "wp-btnS"  / 1fr
      ;
      .wp_imgProducto {
        width: 50%;
        margin: 1.4rem auto;
      }
      .wp_btnSabores {
        width: fit-content;
        margin: auto;
        margin-bottom: 1.5rem;
        .btn_sabor {
          padding: .2rem 0;
          margin-left: .8rem;
          width: 4.8rem;
          &:nth-last-child(3) {
            margin-left: .5rem !important;
          }
        }
        .active {
          padding: .28rem 0;
        }
      }
      .wp_textInfo {
        .p_infoLg {
          margin: .8rem 0;
        }
      }
      .wp_imgsAvalado {
        grid-area: wp-imgs;
        width: 70%;
        margin: 1.5rem auto;
        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            width: 5.5rem;
            &:first-child {
              width: 4.5rem;
            }
          }
        }
      }
      .wp_btnScroll {
        .btn_scroll {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
    
    #shapeBg {
      height: 134vh;
    }
  }
  
  .wp_infoNutri {
    margin-top: 6rem;
    .wp_grid {
      padding: 0 1.5rem;
    }
    .wp_fresasAbsolute {
      #fresa7 {
        top: calc(50% - 4.2rem);
        left: -1.7rem;
        width: 22%;
      }
    }
  }
  
  .wp_productos {
    .wp_content {
      .wp_contentProductos {
        .producto {
          img {
            width: 7.8rem;
            margin-right: 1rem;
          }
          &:nth-child(1) {
            img {
              width: 10.5rem;
            }
          }
          &:last-child {
            img {
              width: 9.8rem;
            }
          }
        }
      }
    }
  }
  
  .wp_footer {
    padding: 2rem 1rem 3rem;
    .wp_img1 {
      img {
        width: 3.5rem;
      }
    }
    .wp_img2 {
      img {
        width: 4rem;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .wp_nabvarFull {
    .wp_nabvar {
      nav {
        li {
          .menu_bars {
            width: 1.75rem;
            span {
              height: .24rem;
            }
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa2 {
        right: -6rem;
        width: 19rem;
        transform:rotate(18deg);
      }
      #fresa5 {
        left: -5.5rem;
        width: 13rem;
      }
    }
  }
  
  .wp_banner {
    .wp_grid {
      padding: 0 1.5rem;
      grid-template: 
      "wp-img" 20rem
      "wp-btns" 
      "wp-text" 
      "wp-imgs"
      "wp-btnS"  / 1fr
      ;
      .wp_imgProducto {
        width: 50%;
      }
      .wp_btnSabores {
        margin-bottom: 1.5rem;
        .btn_sabor {
          padding: .1rem 0;
          margin-left: .8rem;
          width: 5.8rem;
          &:nth-last-child(3) {
            margin-left: .6rem !important;
          }
        }
        .active {
          background-color: $color-btnOpacity;
          border: none;
          padding: .2rem 0;
        }
      }
      .wp_textInfo {
        .p_infoLg {
          margin: 1rem 0;
        }
      }
      .wp_imgsAvalado {
        grid-area: wp-imgs;
        width: 70%;
        margin: 1.8rem auto;
        div {
          img {
            width: 5.5rem;
            &:first-child {
              width: 4.5rem;
            }
          }
        }
      }
      .wp_btnScroll {
        .btn_scroll {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
    
    #shapeBg {
      height: 112vh;
    }
  }
  
  .wp_infoNutri {
    margin-top: 6rem;
    .wp_grid {
      padding: 0 1.5rem;
      display: grid;
      grid-template: 
      "wp-img"
      "wp-text" 
      "wp-table"  / 1fr
      ;
      .wp_tabla {
        margin: 1.8rem 0;
      }
    }
    .wp_fresasAbsolute {
      #fresa6 {
        width: 24%;
      }
      #fresa7 {
        top: calc(50% - 4rem);
        left: -1.8rem;
        width: 22%;
      }
    }
  }
  
  .wp_productos {
    .wp_content {
      padding: 3rem 0 5.5rem;
      .wp_contentProductos {
        margin-top: 5rem;
        .producto {
          padding-left: .8rem;
          img {
            width: 8rem;
            margin-right: .8rem;
          }
          &:nth-child(1) {
            img {
              width: 11rem;
            }
          }
          &:last-child {
            img {
              width: 11rem;
            }
          }
        }
      }
    }
  }
  
  .wp_footer {
    padding: 2rem 1rem 3rem;
    .wp_img1 {
      img {
        width: 4rem;
      }
    }
    .wp_img2 {
      img {
        width: 4.5rem;
      }
    }
    .wp_infoFooter {
      padding-top: .8rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .wp_nabvarFull {
    .wp_nabvar {
      nav {
        padding: 1rem 3rem 1rem;
        .wp_logo {
          width: 9rem;
        }
        li {
          list-style: none;
          .menu_bars {
            width: 1.8rem;
            span {
              height: .3rem;
            }
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa2 {
        right: -5rem;
        width: 21rem;
        transform:rotate(18deg);
      }
      #fresa5 {
        top: 5.5rem;
        left: -7.5rem;
        width: 18rem;
      }
    }
    .wp_menuMobile {
      top: 5.8rem;
      .wp_whidthMenu {
        height: calc(100vh - 5.8rem);
        ul {
          li {
            padding: 3rem 0;
          }
        }
      }
    }
  }
  
  .wp_banner {
    .wp_grid {
      padding: 0 2.5rem;
      display: grid;
      grid-template: 
      "wp-img" 30rem
      "wp-btns" 
      "wp-text" 
      "wp-imgs"
      "wp-btnS"  / 1fr
      ;
      .wp_imgProducto {
        width: 42%;
        margin: 1.6rem auto;
      }
      .wp_btnSabores {
        grid-area: wp-btns;
        z-index: 3;
        margin-bottom: 2rem;
        .btn_sabor {
          margin-left: 1.5rem;
          border: 2px solid $color-btnBorderOpacity;
          width: 9.5rem;
          &:nth-last-child(3) {
            margin-left: 1rem !important;
          }
        }
        .active {
          background-color: $color-btnOpacity;
          border: none;
          padding: .3rem 0;
        }
      }
      .wp_textInfo {
        grid-area: wp-text;
        .p_infoLg {
          margin: 1.2rem 0;
        }
        .btn_buy {
          margin: 1.5rem 0;
          padding: 1.5rem 2rem;
        }
      }
      .wp_imgsAvalado {
        grid-area: wp-imgs;
        width: 70%;
        margin: 2.5rem auto;
        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            width: 8rem;
            &:first-child {
              width: 6.5rem;
            }
          }
        }
      }
      .wp_btnScroll {
        grid-area: wp-btnS;
        text-align: center;
        margin: auto;
        .btn_scroll {
          width: 4.5rem;
          height: 4.5rem;
        }
      }
    }
    
    #shapeBg {
      height: 124vh;
    }
  }
  
  .wp_infoNutri {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    .wp_grid {
      padding: 0 2rem;
      display: grid;
      grid-template: 
      "wp-img"
      "wp-text" 
      "wp-table"  / 1fr
      ;
      .wp_textInfo {
        margin: 3rem 0;
        div {
          margin-bottom: 2rem;
        }
      }
      .wp_tabla {
        margin: 2rem 0;
        table {
          .wp_trTabla {
            .aling_l {
              width: 80%;
              text-align: right;
              padding: .8rem 1.5rem ;
            }
            .aling_r {
              width: 20%;
              padding: .8rem 1.5rem;
            }
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa7 {
        top: calc(50% - 7rem);
        left: -3rem;
        width: 18%;
      }
    }
  }
  
  .wp_productos {
    .wp_content {
      padding: 4rem 0 6rem;
      .wp_contentProductos {
        width: 100%;
        margin-top: 5rem;
        .producto {
          padding-left: 2rem;
          img {
            width: 14rem;
            margin-right: 1.5rem;
          }
          &:nth-child(1) {
            img {
              width: 19rem;
            }
          }
          &:last-child {
            img {
              width: 19rem;
            }
          }
        }
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  }
  
  .wp_footer {
    padding: 3rem 2.5rem 4rem;
    display: grid;
    align-items:center;
    grid-template: 
      "wp-img1 wp-img2" 
      "wp-text wp-text"
    ;
    .wp_img1 {
      grid-area: wp-img1;
      img {
        width: 7rem;
      }
    }
    .wp_img2 {
      grid-area: wp-img2;
      margin-left: auto;
      img {
        width: 8rem;
      }
    }
    .wp_infoFooter {
      grid-area: wp-text;
      padding-top: .8rem;
    }
  }
}

@media only screen and (min-width: 1281px) {
  .wp_nabvarFull {
    position: relative;
    .wp_nabvar {
      nav {
        padding: 1rem 6rem;
        .wp_logo {
          width: 9rem;
        }
        .menu_show {
          display: flex;
          height: fit-content;
          align-items: center;
          li {
            display: inline;
            margin-left: 4rem;
            a {
              color: $color-secondary;
              text-decoration: none;
            }
          }
          .social_media {
            ul {
              display: inline;
              li {
                margin-left: 1.5rem;
              }
            }
          }
        }
        li {
          .menu_bars {
            display: none;
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa2 {
        position: absolute;
        top: 0rem;
        right: 15rem;
        width: 26rem;
        transform:rotate(0deg);
        filter: blur(5px);
      }
      #fresa5 {
        display: none;
      }
      #fresa3 {
        display: block;
        position: absolute;
        top: -5rem;
        left: 9rem;
        width: 15rem;
        transform:rotate3d(-13, 180, 1, 150deg)
      }
    }
  }
  
  .wp_banner {
    width: 100%;
    height: fit-content;
    
    .wp_grid {
      padding: 0 4rem;
      position: relative;
      display: grid;
      grid-template: 
      "wp-img wp-btns" 14rem
      "wp-img wp-text" 15rem
      "wp-img wp-imgs" 8rem
      "wp-btnS wp-btnS" 8rem
      ;
      position: relative;
      z-index: 1;
      .wp_imgProducto {
        grid-area: wp-img;
        width: 35rem;
        margin: auto;
        img {
          position: relative;
          left: calc(50% - 8rem);
          top: 5rem;
          width: 55%;
        }
      }
      .wp_btnSabores {
        grid-area: wp-btns;
        z-index: 3;
        display: flex;
        align-items: center;
        margin: 12rem 0 0;
        .btn_sabor {
          padding: 0rem 0;
          margin-left: 1rem;
          width: 5.5rem;
          &:nth-last-child(3) {
            margin-left: .6rem !important;
          }
        }
        .active {
          background-color: $color-btnOpacity;
          border: none;
          padding: .15rem 0;
        }
      }
      .wp_textInfo {
        grid-area: wp-text;
        width: 80%;
        .p_infoLg {
          width: 89%;
          padding: .5rem 0;
          margin: .5rem 0;
        }
        .btn_buy {
          width: 39%;
          background-color: $color-primary;
          border-radius: 0;
          border: none;
          margin: .5rem 0;
          padding: 1rem 2rem;
        }
      }
      .wp_imgsAvalado {
        grid-area: wp-imgs;
        width: 50%;
        margin: 1rem 0;
        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            margin-right: 2rem;
            width: 5rem;
            &:first-child {
              width: 4rem;
            }
          }
        }
      }
      .wp_btnScroll {
        grid-area: wp-btnS;
        text-align: center;
        margin: auto;
        .btn_scroll {
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5rem;
          background-color: $color-primary;
          border: none;
        }
      }
      .wp_fresas {
        display: block;
        position: absolute;
        bottom: -3rem;
        right: 6rem;
      }
    }
    
    #shapeBg {
      position: absolute;
      top: -6rem;
      width: 100%;
      height: 112vh;
      transform: skewY(5deg);
      background-image: linear-gradient(to bottom, $color-gradientOne, $color-gradientTwo);
    }
  }
  
  .wp_infoNutri {
    margin-top: 8rem;
    margin-bottom: 3rem;
    height: fit-content;
    position: relative;
    .wp_grid {
      padding: 0 1rem;
      width: 59%;
      margin: auto;
      display: grid;
      grid-template: 
      "wp-title wp-title"
      "wp-text wp-table"
      ;
      .wp_title {
        grid-area: wp-title;
      }
      .wp_textInfo {
        margin: 2rem 0 1.5rem;
        grid-area: wp-text;
        div {
          margin-bottom: 2.5rem;
        }
        .reset_span {
          width: 87.9%;
          span {
            font-weight: 700;
          }
        }
      }
      .wp_tabla {
        grid-area: wp-table;
        color: $color-primary;
        margin: 2rem 0 1.5rem;
        table {
          width: 33.5rem;
          .wp_trTabla {
            .aling_l {
              width: 55%;
              text-align: right;
              padding: .8rem 1.2rem ;
            }
            .aling_r {
              width: 20%;
              padding: .8rem 1.2rem;
            }
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa6 {
        position: absolute;
        top: 0;
        right: -.8rem;
        width: 9rem;
        filter: blur(1.5px);
      }
      #fresa7 {
        position: absolute;
        top: initial;
        bottom: -10rem;
        left: 0rem;
        width: 10%;
      }
      #fresa4 {
        display: block;
        position: absolute;
        top: -24rem;
        left: 0rem;
        width: 8.5rem;
      }
      #fresa5 {
        display: block;
        position: absolute;
        top: 4rem;
        left: 0rem;
        width: 14rem;
      }
    }
  }
  
  .wp_productos {
    height: fit-content;
    background-image: url('../images/bg-familia-vitalinea.png');
    background-size: cover;
    background-repeat: no-repeat;
    .wp_content {
      position: relative;
      padding: 4rem 0 6rem;
      .wp_title {
        text-align:center;
      }
      .wp_contentProductos {
        width: 100%;
        height: fit-content;
        margin-top: 4rem;
        display: flex;
        justify-content:space-evenly;
        align-items: flex-end;
        .producto {
          img {
            width: 14rem;
            margin-right: 0;
          }
          &:nth-child(1) {
            img {
              width: 20.5rem;
            }
          }
          &:last-child {
            img {
              width: 20rem;
            }
          }
        }
      }
      .wp_fresasAbsolute {
        display: block;
        #fresa8 {
          display: block;
          position: absolute;
          top: -13rem;
          right: 0;
          width: 13rem;
        }
        #fresa9 {
          display: block;
          position: absolute;
          top: -4rem;
          left: 15rem;
          width: 11rem;
        }
      }
    }
  }
  
  .wp_footer {
    padding: 2rem 2.5rem ;
    display: grid;
    align-items:flex-end;
    grid-template: 
      "wp-img1 wp-text wp-img2" / 5rem 25rem auto
      ;
    .wp_img1 {
      grid-area: wp-img1;
      img {
        width: 3rem;
      }
    }
    .wp_img2 {
      grid-area: wp-img2;
      img {
        width: 5rem;
      }
    }
    .wp_infoFooter {
      padding-top: 0;
      .p_terminos {
        span {
          padding: 0 .5rem;
        }
      }
      .p_derechos {
        padding: .7rem .5rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .wp_nabvarFull {
    position: relative;
    .wp_nabvar {
      nav {
        padding: 1.5rem 7rem;
        .wp_logo {
          width: 11rem;
        }
        .menu_show {
          li {
            margin-left: 4.5rem;
            a {
              font-size: 1.4rem;
              font-weight: 600;
            }
          }
          .social_media {
            ul {
              display: inline;
              li {
                margin-left: 2rem;
                img {
                  width: 2.6rem
                }
              }
            }
          }
        }
        li {
          .menu_bars {
            display: none;
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa2 {
        position: absolute;
        top: 0rem;
        right: 20rem;
        width: 35rem;
        filter: blur(5px);
      }
      #fresa5 {
        display: none;
      }
      #fresa3 {
        display: block;
        position: absolute;
        top: -5rem;
        left: 11rem;
        width: 16rem;
        transform:rotate3d(-13, 180, 1, 150deg)
      }
    }
  }
  
  .wp_banner {    
    .wp_grid {
      display: grid;
      grid-template: 
      "wp-img wp-btns" 18rem
      "wp-img wp-text" 20rem
      "wp-img wp-imgs" 11rem
      "wp-btnS wp-btnS" 10rem
      ;
      .wp_imgProducto {
        grid-area: wp-img;
        width: 44rem;
        img {
          position: relative;
          left: calc(50% - 10rem);
          top: 5rem;
          width: 60%;
        }
      }
      .wp_btnSabores {
        grid-area: wp-btns;
        z-index: 3;
        display: flex;
        align-items: center;
        margin: 14rem 0 0;
        .btn_sabor {
          padding: .1rem 0;
          margin-left: 1.5rem;
          width: 7rem;
          &:nth-last-child(3) {
            margin-left: .8rem !important;
          }
        }
        .active {
          background-color: $color-btnOpacity;
          border: none;
          padding: .27rem 0;
        }
      }
      .wp_textInfo {
        grid-area: wp-text;
        width: 80%;
        .p_infoLg {
          width: 89%;
          padding: 1rem 0;
          margin: .5rem 0;
        }
        .btn_buy {
          width: 40%;
          background-color: $color-primary;
          border-radius: 0;
          border: none;
          margin: .5rem 0;
          padding: 1rem 2rem;
        }
      }
      .wp_imgsAvalado {
        margin: 1.5rem 0;
        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            margin-right: 3rem;
            width: 7.1rem;
            &:first-child {
              width: 5.3rem;
              margin-left: 1rem;
            }
          }
        }
      }
      .wp_btnScroll {
        grid-area: wp-btnS;
        text-align: center;
        margin: auto;
        .btn_scroll {
          width: 4.5rem;
          height: 4.5rem;
          img {
            width: 2rem;
          }
        }
      }
      .wp_fresas {
        display: block;
        position: absolute;
        bottom: -4rem;
        right: 7.5rem;
        img {
          width: 18rem;
        }
      }
    }
    
    #shapeBg {
      position: absolute;
      top: -6rem;
      width: 100%;
      height: 101vh;
      transform: skewY(4deg);
      background-image: linear-gradient(to bottom, $color-gradientOne, $color-gradientTwo);
    }
  }
  
  .wp_infoNutri {
    margin-top: 9rem;
    margin-bottom: 4rem;
    height: fit-content;
    position: relative;
    .wp_grid {
      grid-template: 
      "wp-title wp-title"
      "wp-text wp-table"
      ;
      .wp_title {
        grid-area: wp-title;
        .title_primary {
          font-size: 3.1rem;
        }
      }
      .wp_textInfo {
        margin: 3rem 0 1.5rem;
        grid-area: wp-text;
        div {
          margin-bottom: 2.5rem;
        }
        .reset_span {
          width: 92%;
          span {
            font-weight: 700;
          }
        }
      }
      .wp_tabla {
        margin: 3rem 0 1.5rem;
        table {
          width: 44rem;
          .wp_trTabla {
            .aling_l {
              width: 48%;
              padding: 0.9rem 1.8rem ;
            }
            .aling_r {
              padding: 0.9rem 1.8rem;
            }
          }
        }
      }
    }
    .wp_fresasAbsolute {
      #fresa6 {
        position: absolute;
        top: -1rem;
        right: -.2rem;
        width: 12.5rem;
        filter: blur(1.5px);
      }
      #fresa7 {
        position: absolute;
        top: initial;
        bottom: -13rem;
        left: 0rem;
        width: 10%;
      }
      #fresa4 {
        display: block;
        position: absolute;
        top: -30rem;
        left: 0rem;
        width: 11rem;
      }
      #fresa5 {
        display: block;
        position: absolute;
        top: 5rem;
        left: 0rem;
        width: 18rem;
      }
    }
  }
  
  .wp_productos {
    .wp_content {
      padding: 6rem 0 4rem;
      .wp_contentProductos {
        height: fit-content;
        margin-top: 5rem;
        .producto {
          img {
            width: 18rem;
            margin-right: 0;
          }
          &:nth-child(1) {
            img {
              width: 26rem;
            }
          }
          &:last-child {
            img {
              width: 25rem;
            }
          }
        }
      }
      .wp_fresasAbsolute {
        #fresa8 {
          top: -17rem;
          width: 17rem;
        }
        #fresa9 {
          top: -5.5rem;
          left: 19rem;
          width: 15rem;
        }
      }
    }
  }
  
  .wp_footer {
    padding: 2.5rem 3rem ;
    align-items: center;
    grid-template: 
      "wp-img1 wp-text wp-img2" / 6rem 37rem auto
      ;
    .wp_img1 {
      img {
        width: 4.5rem;
      }
    }
    .wp_img2 {
      grid-area: wp-img2;
      img {
        width: 7rem;
      }
    }
    .wp_infoFooter {
      padding-top: 0;
      .p_terminos {
        span {
          padding: 0 .5rem;
        }
      }
      .p_derechos {
        padding: .7rem .5rem;
      }
    }
  }
}
