/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Variables */
$color-primary: #78246d;
$color-secondary: #000;
$color-gradientOne: #f9e6e6;
$color-gradientTwo: #ebacac;
$color-btnOpacity: rgba(255, 0, 0, 0.1);
$color-btnBorderOpacity: rgba(0, 0, 0, 0.14);
$color-white: #fff;


/* Estilos globales */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.title_primary {
  font-size: 1.08rem;
  font-weight: 300;
  color: $color-primary;
}
.title_secondary {
  font-size: 1.2rem;
  font-weight: 300;
  color: $color-primary;
}
.p_sabor, .p_saborBtn {
  display: inline-block;
  font-size: .76rem;
  font-weight: 600;
}
.p_sabor {
  font-size: .85rem;
}
.p_infoLg {
  font-size: .76rem;
  font-weight: 300; 
}
.p_info {
  font-size: .76rem;
  font-weight: 600; 
}
.p_btnBuy {
  color: $color-white;
  font-size: .76rem;
}
.p_table {
  font-size: .7rem;
}
.p_infoProdcuto {
  font-size: .65rem;
  color: $color-primary;
  text-align: center;
}
.p_terminos {
  font-size: .55rem;
  line-height: 1.6;
  font-weight: 600; 
}
.p_derechos {
  font-size: .65rem;
  text-align: center;
  font-weight: 600; 
}

.letterSpace {
  letter-spacing: 2.4px;
}

@media only screen and (min-width: 375px) {
  .title_primary {
    font-size: 1.25rem;
  }
  .title_secondary {
    font-size: 1.38rem;
  }
  .p_sabor, .p_saborBtn {
    font-size: .9rem;
  }
  .p_sabor {
    font-size: .98rem;
  }
  .p_infoLg {
    font-size: .9rem;
  }
  .p_btnBuy {
    font-size: .9rem;
  }
  .p_info {
    font-size: .83rem;
  }
  .p_table {
    font-size: .76rem;
  }
  .p_infoProdcuto {
    font-size: .7rem;
  }
  .p_terminos {
    font-size: .64rem;
    text-align: center;
  }
  .p_derechos {
    font-size: .76rem;
  }
}

@media only screen and (min-width: 425px) {
  .title_primary {
    font-size: 1.4rem;
  }
  .title_secondary {
    font-size: 1.54rem;
  }
  .p_sabor, .p_saborBtn {
    font-size: 1rem;
  }
  .p_sabor {
    font-size: 1.15rem;
  }
  .p_infoLg {
    font-size: 1rem;
  }
  .p_btnBuy {
    font-size: 1rem;
  }
  .p_info {
    font-size: .92rem;
  }
  .p_table {
    font-size: .78rem;
  }
  .p_infoProdcuto {
    font-size: .85rem;
    padding-top: .8rem;
  }
  .p_terminos {
    font-size: .73rem;
    text-align: center;
  }
  .p_derechos {
    font-size: .83rem;
  }
}

@media only screen and (min-width: 768px) {
  .title_primary {
    font-size: 2.6rem;
  }
  .title_secondary {
    font-size: 2.9rem;
  }
  .p_saborBtn {
    font-size: 1.6rem;
  }
  .p_sabor {
    font-size: 1.8rem;
  }
  .p_infoLg {
    font-size: 1.8rem;
  }
  .p_btnBuy {
    font-size: 1.8rem;
  }
  .p_info {
    font-size: 1.7rem;
  }
  .p_table {
    font-size: 1.5rem;
  }
  .p_infoProdcuto {
    font-size: 1.5rem;
  }
  .p_terminos {
    font-size: 1.29rem;
  }
  .p_derechos {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1281px) {
  .title_primary {
    font-size: 2.5rem;
  }
  .title_secondary {
    font-size: 2.9rem;
    font-weight: 300;
    color: $color-primary;
  }
  .p_saborBtn {
    font-size: .95rem;
    font-weight: 600;
  }
  .p_sabor {
    font-size: 1rem;
  }
  .p_infoLg {
    font-size: 1.08rem;
    font-weight: 300; 
  }
  .p_btnBuy {
    color: $color-white;
    font-weight: 300;
    font-size: .95rem;
  }
  .p_info {
    font-size: .95rem;
    font-weight: 700; 
  }
  .p_table {
    font-size: .95rem;
  }
  .p_infoProdcuto {
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-primary;
    text-align: center;
  }
  .p_terminos {
    font-size: .65rem;
    font-weight: 600; 
  }
  .p_derechos {
    font-size: .65rem;
    text-align: left;
  }
  
}

@media only screen and (min-width: 1920px) {
  .title_primary {
    font-size: 3.3rem;
  }
  .title_secondary {
    font-size: 3.6rem;
    font-weight: 300;
    color: $color-primary;
  }
  .p_saborBtn {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .p_sabor {
    font-size: 1.4rem;
  }
  .p_infoLg {
    font-size: 1.5rem;
    font-weight: 300; 
  }
  .p_btnBuy {
    color: $color-white;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .p_info {
    font-size: 1.2rem;
    font-weight: 700; 
  }
  .p_table {
    font-size: 1.2rem;
  }
  .p_infoProdcuto {
    font-size: 2rem;
    text-align: center;
  }
  .p_terminos {
    font-size: 1rem;
    font-weight: 600; 
    text-align: left;
  }
  .p_derechos {
    font-size: 1.05rem;
    text-align: left;
  }
}